INST "clk_BUFGP" LOC = BUFGMUX_X1Y11;
NET "clk" LOC = C9;
NET "Reset" LOC = L13;
NET "Reset" IOSTANDARD = LVTTL;
NET "Reset" PULLDOWN;

NET "oLed[0]" LOC = F12;
NET "oLed[0]" IOSTANDARD = LVTTL;
NET "oLed[0]" DRIVE = 8;
NET "oLed[1]" LOC = E12;
NET "oLed[1]" IOSTANDARD = LVTTL;
NET "oLed[1]" DRIVE = 8;
NET "oLed[2]" LOC = E11;
NET "oLed[2]" IOSTANDARD = LVTTL;
NET "oLed[2]" DRIVE = 8;
NET "oLed[3]" LOC = F11;
NET "oLed[3]" IOSTANDARD = LVTTL;
NET "oLed[3]" DRIVE = 8;
NET "oLed[4]" LOC = C11;
NET "oLed[4]" IOSTANDARD = LVTTL;
NET "oLed[4]" DRIVE = 8;
NET "oLed[5]" LOC = D11;
NET "oLed[5]" IOSTANDARD = LVTTL;
NET "oLed[5]" DRIVE = 8;
NET "oLed[6]" LOC = E9;
NET "oLed[6]" IOSTANDARD = LVTTL;
NET "oLed[6]" DRIVE = 8;
NET "oLed[7]" LOC = F9;
NET "oLed[7]" IOSTANDARD = LVTTL;
NET "oLed[7]" DRIVE = 8;

NET "vga_R" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_G" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_B" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_h_sync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_v_sync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET "BTN_EAST" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "BTN_WEST" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;